<%= form_for(restauracje) do |f| %>
  <% if restauracje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restauracje.errors.count, "error") %> prohibited this restauracje from being saved:</h2>

      <ul>
      <% restauracje.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_restauracji %>
    <%= f.number_field :id_restauracji %>
  </div>

  <div class="field">
    <%= f.label :nazwa %>
    <%= f.text_field :nazwa %>
  </div>

  <div class="field">
    <%= f.label :ulica %>
    <%= f.text_field :ulica %>
  </div>

  <div class="field">
    <%= f.label :numer_lokalu %>
    <%= f.text_field :numer_lokalu %>
  </div>

  <div class="field">
    <%= f.label :kod_pocztowy %>
    <%= f.text_field :kod_pocztowy %>
  </div>

  <div class="field">
    <%= f.label :pracownicy_id %>
    <%= f.text_field :pracownicy_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
