<p id="notice"><%= notice %></p>

<h1>Listing Pracowniks</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pracowniks.each do |pracownik| %>
      <tr>
        <td><%= pracownik.index %></td>
        <td><%= pracownik.name %></td>
        <td><%= link_to 'Show', pracownik %></td>
        <td><%= link_to 'Edit', edit_pracownik_path(pracownik) %></td>
        <td><%= link_to 'Destroy', pracownik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pracownik', new_pracownik_path %>
