<%= form_for(restauracje) do |f| %>
  <% if restauracje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restauracje.errors.count, "error") %> prohibited this restauracje from being saved:</h2>

      <ul>
      <% restauracje.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
