<p id="notice"><%= notice %></p>

<h1>Produkty</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produkty.each do |produkty| %>
      <tr>
        <td><%= produkty.index %></td>
        <td><%= link_to 'Show', produkty %></td>
        <td><%= link_to 'Edit', edit_produkty_path(produkty) %></td>
        <td><%= link_to 'Destroy', produkty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produkty', new_produkty_path %>
