<p id="notice"><%= notice %></p>

<h1>Zamowienias</h1>

<table>
  <thead>
    <tr>
      <th>Id zamowienia</th>
      <th>Czas realizacji</th>
      <th>Produkty na zamowieniu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zamowienias.each do |zamowienia| %>
      <tr>
        <td><%= zamowienia.id_zamowienia %></td>
        <td><%= zamowienia.czas_realizacji %></td>
        <td><%= zamowienia.produkty_na_zamowieniu %></td>
        <td><%= link_to 'Show', zamowienia %></td>
        <td><%= link_to 'Edit', edit_zamowienia_path(zamowienia) %></td>
        <td><%= link_to 'Destroy', zamowienia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zamowienia', new_zamowienia_path %>
