<%= form_for(zamowieniaen) do |f| %>
  <% if zamowieniaen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zamowieniaen.errors.count, "error") %> prohibited this zamowieniaen from being saved:</h2>

      <ul>
      <% zamowieniaen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
