<p id="notice"><%= notice %></p>

<h1>Zamowieniaen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zamowieniaen.each do |zamowieniaen| %>
      <tr>
        <td><%= zamowieniaen.name %></td>
        <td><%= zamowieniaen.code %></td>
        <td><%= zamowieniaen.description %></td>
        <td><%= link_to 'Show', zamowieniaen %></td>
        <td><%= link_to 'Edit', edit_zamowieniaen_path(zamowieniaen) %></td>
        <td><%= link_to 'Destroy', zamowieniaen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zamowieniaen', new_zamowieniaen_path %>
