<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zamowieniaen.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @zamowieniaen.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zamowieniaen.description %>
</p>

<%= link_to 'Edit', edit_zamowieniaen_path(@zamowieniaen) %> |
<%= link_to 'Back', zamowieniaen_path %>
