<p id="notice"><%= notice %></p>

<h1>Klienci</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @klienci.each do |klienci| %>
      <tr>
        <td><%= klienci.index %></td>
        <td><%= link_to 'Show', klienci %></td>
        <td><%= link_to 'Edit', edit_klienci_path(klienci) %></td>
        <td><%= link_to 'Destroy', klienci, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Klienci', new_klienci_path %>
