<!DOCTYPE html>
<html>
<head>
  <title>ZryjTo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  Zalogowany jako <%= current_klient.imie %> <%= current_klient.nazwisko %>
  <%= link_to "Profil", current_klient %>
  <%= link_to "Wyloguj", logout_path, method: :delete %>
<% else %>
  <%= link_to "Zaloguj", login_path %>
<% end %>
<%= yield %>
</body>
</html>
